{% extends "base.html"%}
{% block content %}

<div class = "container my-5">
	<div class = "row my-3">
		<a  class = "title blog-back" href = "{% url 'blog:blog_index' %}"> <h2 class = "title blog-back">back to posts</h2> </a>
	</div>
	<div class = "row my-3">
			<h2 class = "post-title title"> {{post.title}}</h2>
	</div>
	<div class = "row">
			<p class = "post-about">
				by Jordan Wells | Posted on {{post.created_on|date:"F d, Y"}} 
			</p>
	</div>
	<div class = "row">
			<div class = "col-md-10">
				<p class = "post-body"> {{ post.body | safe }} </p>
			</div>
	</div>
	
</div>

{% endblock content %}